body{
    background-color: lightblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8npump3MulyNYX_KXNPoCd9NLTEtAucrQKVzIs2Lz_rwTTiH2pf9hSN28UK65bnIeqgZfLV_GLhtsPQA1My_H00K6TZxeOQGy6x_oJqbMKg&s=10")
  
    backgroun-posiion:center;
}